* {
    box-sizing: border-box;
}

/*MENÚ*/

.body {
    display: flex;
    flex-direction: column;
    height: 100dvh;
}

.main {
    margin-bottom: auto;
}

.header {
    display: flex;
    justify-content: right;
    width: 100%;
    align-items: center;
    justify-items: center;
}

.navegador {
    position: fixed;
    top: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 999;
    border: 1px solid #000000;
    border-radius: 10px;
}

.navegador ul {
    display: row;
    flex-wrap: wrap;
    list-style: none;
    justify-content: right;
    width: auto;
    margin: 10px;
    padding: 0;
}

.logo {
    width: 60px;
    justify-content: center;
    justify-items: center;
}

.navegador a {
    color: black;
    text-decoration: none;
    display: block;
}

@media (min-width: 780px) {

.header {
    justify-content: center;
}

.navegador {
    display: flex;
    flex-direction: row;
    justify-content:baseline;
}    

.navegador ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
}

.navegador li {
    font-weight: 600;
    background-color: white;
    padding: 3px;
}

.navegador li:hover {
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #000000;
    padding: 3px;
}


@media (max-widht: 780px) {

.navegador {
    display: flex;
    flex-direction:row;
    margin: 20px;
    justify-content: center;
    align-items: right;
}

.navegador ul {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    justify-items: center;
}

.navegador li {
    margin: 20px;
    padding: 20px;
}
}










/*HOME*/ 
/*HOME INTRODUCCIÓN*/
.introduccion {
    place-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    max-width: 100%;
    margin: 1px;
    background-image: url(fondoHome.png);
    background-size: cover;
    background-position: center;
    padding: 50px;
}

.titulo-introduccion {
    color: black;
    font-size: 50px;
    font-family: "Bebas Neue", sans-serif;
    align-content: center;
    text-align: center;
    margin-top: 60px;
   }

.parrafo-introduccion {
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    margin-bottom: 30px;
    font-weight: bold;
}

.enlace-servicios {
    text-align: center;
    padding: 10px;
    font-weight: bold;;
}

.home-nosotros {
    background-color: rgb(236, 236, 236);
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    margin-top: 20px;
}

.home-titulo-por-que-redinnova {
    margin: auto;
    color: #000000;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-size: 30px;
    padding: 10px;
}

.home-razones-por-que-redinnova { /*FALTA REPLICAR EN pc*/
    flex: 1 1 calc(100% - 10px);
    box-sizing: border-box;
    position: center;
    padding: 15px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    margin: auto;
    color: rgb(0, 0, 0);
    height: 70px;
    border-radius: 20px;
    border: 1px solid #000000;
    border-bottom: 4px solid #000000;
}

.home-razones-por-que-redinnova:hover {
    background-color: #b1b1b1;
}
    
@media (max-width: 780px) {
.home-parrafo-por-que-redinnova {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 10px;
}
}   

@media (min-width: 780px) {
.introduccion {
    place-items: center;
    padding: 90px;
    max-width: 100%;
    background-color: rgb(230, 230, 231);
    padding-bottom: 20px;
}

.home-nosotros {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 100%;
    margin-top: 20px;
    padding-top: 20px;
}

.home-titulo-por-que-redinnova {
    margin: auto;
    color: #000000;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-size: 30px;
    padding: 10px;
}

.home-parrafo-por-que-redinnova {
    padding: 25px;
    background-color: white;
    color: black;
    margin: 20px;
    text-align: justify;
    border-radius: 20px;
}

.home-razones-por-que-redinnova {
    flex: 0 0 calc(50% - 5px);
    position: center;
    padding: 20px;
    background-color: white;
    color: black;
    height: 60px;
    width: 40%;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.home-razones-por-que-redinnova:hover {
    background-color: #b1b1b1;
}
}









/*NOSOTROS*/
.nosotros {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    width: auto;
    max-width: 100%;
    background-color: rgb(190, 193, 201);
    margin: 1px;
    border-radius: 10px;
}

.enlace-contacto-nosotros {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.486);
    font-weight: bold;
    padding: 10px;
    width: 70%;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
}

.enlace-contacto-nosotros:hover {
    background-color: #222324;
    color:brown;
}

.titulo-nosotros {
    display: block;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    unicode-bidi: isolate;
    font-family: "Bebas Neue", sans-serif;
    margin-top: 100px;
}

.parrafo-nosotros {
    margin-right: 45px;
    margin-left: 45px;
    line-height: 1.5;
    text-align: justify;
}

.titulo-por-que-redinnova {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    unicode-bidi: isolate;
    font-family: "Bebas Neue", sans-serif;
    padding: 15px;
}

.nosotros-seccion-razones {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column-reverse;
    align-items: center;
    border-radius: 10px;
}

.nosotros-razones1 {
    flex: 1 1 calc(100% - 10px);
    flex-wrap: wrap;
    padding: 15px;
    margin: 5px;
    color: rgb(0, 0, 0);
    text-align: center;
    width: 90%;
    border: 1px solid #000000;
}

.nosotros-razones1:hover {
    background-color: #666;
    border: 3px solid #000000;
    color: azure;
}

.boton-equipo {
    display: grid;
    justify-items: center;
}

.btn-success {
    background-color: #000000;
    margin: 40px;
}

@media (min-width: 780px) {
    .nosotros-razones1 {
        width: 70%;
        border-radius: 10px;
    }

    .titulo-nosotros {
        margin-top: 100px;
    }    

    .enlace-contacto-nosotros {
        width: 70%;
    }
}

@media (max-width: 780px) {
    .nosotros-razones1 {
        border-radius: 10px;
    }
}








/*SERVICIOS*/
.especialidades {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    justify-content: center;
    padding-bottom: 20px;
    width: auto;
    max-width: 100%;
}

.titulo-especialidades {
    position: sticky;
    text-align: center;
    font-size: 40px;
    font-family: "Bebas Neue", sans-serif;
    top: 80px;
    margin: 50px;
    z-index: 999;
    background-color: #25aa77;
    border-radius: 20px;
}

.especialidad1 {
    display: inline-block;
    place-content: center;
    border: 3px solid rgba(0, 0, 0, 0.486);
    text-align: left;
    background-color: rgba(238, 238, 238, 0.733);
    margin: 10px;
    padding: 10px;
    width: auto;
    max-width: 80%;
    border-radius: 20px;
    font-size: smaller;
}

.titulo-especialidades-con-bootstrap {
    position: sticky;
    text-align: center;
    font-size: 40px;
    font-family: "Bebas Neue", sans-serif;
    background-color: rgb(48, 177, 177);
    top: 80px;
    z-index: 999;
    margin: 50px;
    border-radius: 20px;
}

.card-img-top {
    width: auto;
    align-items: center;
}

.card-bootstrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.card {
    width: 80%;
}

@media (min-width: 780px) {
     .especialidades {
        padding-bottom: 10px;
        margin: 20px;
     }
    
    .titulo-especialidades {
        position: sticky;
        text-align: center;
}
    
    .especialidad1 {
        width: 45%;
        font-size: 12px;
        padding: 0 5px;
    }

    .titulo-especialidades-con-bootstrap {
        margin-top: 20px;
        position: sticky;
        text-align: center;
    }

    .card {
        max-width: 25%;
        margin: 5px;
    }
}


@media (max-width: 900px) {
    .card {
        max-width: 45%;
    }
}








/*BLOG*/
.blog-de-proyectos {
    background-color: rgb(160, 163, 172);
    width: auto;
    margin: 20px;
    align-items: center;
    padding-top: 20px;
}

.titulo-blog {
    text-align: center;
    font-size: 40px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: bold;
    unicode-bidi: isolate;
    margin-top: 80px;
}

.blog-de-proyectos ul {
    flex-wrap: wrap;
    flex-basis: auto;
    justify-content: center;
    padding: 10px;
}

.blog-grid {
    margin: 30px;
    padding: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 
    "c1 c1 c1 c1 c1"
    "c2 c2 c2 c3 c3"
    "c2 c2 c2 c3 c3"
    "c4 c4 c5 c8 c8"
    "c6 c7 c5 c8 c8";
    gap: 5px;
}

.blog-de-proyectos li {
    display: block;
    flex-direction: row;
    background-color: bisque;
    margin: 10px;
    padding: 50px;
    text-align: center;
}

.titulo-prueba-blog {
    text-align: center;
}

.caja {
    border: 1px solid #000000;
    text-align: center;
    gap: 15px;
}

.c1 {
    grid-area: c1;
    background-color: #eeba89;
}

.c2 {
    grid-area: c2;
    background-color: rgb(255, 255, 255);
}

.c3 {
    grid-area: c3;
    background-color: rgb(255, 255, 255);
}

.c4 {
    grid-area: c4;
    background-color: #eeba89;
}

.c5 {
    grid-area: c5;
    background-color: rgb(255, 255, 255);
}

.c6 {
    grid-area: c6;
    background-color: rgb(255, 255, 255);
}

.c7 {
    grid-area: c7;
    background-color: rgb(255, 255, 255);
}

.c8 {
    grid-area: c8;
    background-color: rgb(104, 65, 15);
    color: #ffffff;
}

@media (max-width: 780px) {
    .main {
        padding: 20px;
    }
    
    .blog-grid {
        display: inline;
        background-color:#ccc;

    }

    .blog-de-proyectos ul {
        display: flex;
    }

    .blog-de-proyectos li {
        margin: 180px;
    }

    .caja {
        margin: 10px;
    }

}

@media (min-width: 781px) {
    .blog-grid {
        height: 800px;
    }    
}









/* PRECIOS */
.titulo-precios {
    padding: 120px 0px 50px 0px;
    background-color: rgb(160, 163, 172);
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    font-family: "Bebas Neue", sans-serif;
}

.titulo-precios-bootstrap {
    text-align: center;
    margin: 15px;
}

.tabla-bootstrap {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    gap: 30px;
    justify-content: center;
    margin: 60px;
}

.card {
    width: 40%;
}

.table {
    width: 940px;
}

.col {
    width: 40px;
}

#columna12 {
    width: 60px;
}

.tabla1 {
    display: grid;
    justify-content: center;
    margin: 20px;
    margin-bottom: 50px;
}

.tabla1 th {
    border: 1px solid #000000;
    padding: 5px 5px;
}

.tabla1 td {
    border: 1px solid #000000;
    padding: 5px 5px;
}








/*CONTACTO*/
.introduccion-contacto {
    padding: 25px;
    background-color: rgb(211, 212, 216);
}

.titulo-contacto {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    font-family: "Bebas Neue", sans-serif;
    margin: 0;
}

.campos-contacto {
    background-color: rgb(187, 176, 176)
}

.camps {
    color: white;
    padding: 30px;
}

.titulo-contacto-bootstrap {
    text-align: center;
    margin: 15px;
}

.contacto-bootstrap {
    padding: 30px;
}






/* BOOTSTRAP */








/*PRUEBA*/
.flex-container { display: flex; } .item { padding: 80px; background-color: lightcoral; margin: 20px;}

.flex-container-1 {
    display: flex;
}
.item {
    padding: 10px;
    background-color: lightblue;
    margin: 5px;
}

.flex-container-2 {
    display: flex;
    width: 300px;
}
.item {
    width: 200px;
    padding: 10px;
    background-color: lightgreen;
    margin: 5px;
}

.flex-container {
    display: flex;
}
.item {
    padding: 10px;
    background-color: lightpink;
    margin: 5px;
}

/* Modificador del bloque */
.profile-card--featured {
  border-color: gold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Modificador del elemento */
.profile-card--button--disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}


